@import url(components.css);

.content{
    margin: 10px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.content-background
{
    height: fit-content;
    width: 900px;
    border-radius: 15px;
    box-shadow:5px 10px 8px #888888;
    padding: 20px;
    margin-bottom: 10px;
}
   .content.content-background.D
{
    background-color: var(--danger);
}


.content.content-background.S
{
   background-color: var(--success);
  
}
.content.content-background.I{
background-color:var(--info);
}

.content.content-background.W{
    background-color:var(--warning);
    }
    

.content.content-background:hover{
    cursor: pointer;
    transform: scale(1.04);
}