@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Raleway:wght@300&family=Roboto:ital,wght@1,300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root
{
    --sidebarcolor:#F2F5C8;
    --headercolor:#C1DEAE;
    --containercolor:#EEEEEE;
    --danger:#FF1700;
    --success:#49FF00;
    --info:#9AD0EC;
    --warning:#FFE162;
    --boxshawdow: #888888;
    --badgecolor:#FFFCDC;
    --primarycolor:#35589A;
    --ButtonLink:#99FEFF;
}

body{
    font-family: 'Roboto', sans-serif;
}
.sidebar{
    position: fixed;
    left: 0px;
    width: 250px;
    height: 100%;
    background: var(--sidebarcolor);
}
.sidebar header
{
    font-size: 1.5rem;
    color:white;
    text-align: center;
    line-height: 70px;
    background: var(--headercolor);
}
.sidebar ul a
{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 1.2rem;
    color: black;
    padding-left: 2rem;
    border-top: 0.1rem solid rgba(255, 255, 255, .1);
    border-bottom: 0.1rem solid black;
    text-decoration: none;
    transition: .4s;
}
ul li:hover a{
    padding-left: 2.5rem;   
}

.sidebar
{
    grid-area: sidebar;
}
.head
{
    grid-area: head;
    text-align: center;
    font-weight: 700;
    background-color: #00ADB5;
    height: 60px;
    padding-top: 10px;
    font-size: 1.5rem;  
    padding-left: 250px;
   
} 

.main
{
    grid-area: main;
}
.wrapper {
    display: grid;
    
   
    grid-template-areas:
      "head"
      "sidebar"
      "main";
      
  }
 .container
{
    height: fit-content;
    background-color: var(--containercolor);
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    padding-left: 250px;
}

.i-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Doc-img
{
    height: 22rem;
    width: fit-content;
    object-fit: cover;

}
.headers{
    padding: 20px;
    text-align: center;
    font-size: 1.4rem;
}
