@import url(components.css);

.RES-IMG
{
    height: auto;
    width: 100%;
}
.IMAGE-ROUND
{
    border-radius: 50%;
    width: 30rem;
    height: 30rem;
    overflow: hidden;
    aspect-ratio: 1;
}
.IMAGE
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.RES-IMG-ROUND
{
    object-fit: contain;
}