@import url(components.css);

.RES-IMG
{
    height: auto;
    width: 70%;
}
.RES-IMG-ROUND
{
    border-radius: 50%;
   
    height: auto;
    width: 20%;
    object-fit:cover;
}
.IMAGE
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    width: 7rem;
}