@import url(components.css);
.Nav_links_li, .nav_links_a, button{
    font-weight: 500;
    font-size: 1rem;
    color:var(--textgray);
    text-decoration: none;

}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 55rem;
   

}
.P{
    cursor: pointer;
    font-size: 1.5rem;
}
.Nav_Links
{
    list-style: none;

}
.Nav_Links .Nav_links_li
{
    display: inline-block;
    padding: 0 1.3rem;
}
.nav-container{
    box-shadow: 5px 5px 5px var(--boxshawdow);
    margin: 10px;
    padding: 0px 5px;
    background-color: black;
    color: var(--background-card);
}